@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply uppercase text-gray-400;
  }

  .sep {
    @apply h-[1px] bg-brand-light;
  }
}
@layer base {
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Light_Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Book_Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Medium_Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Futura";
    src: url("./assets/fonts/Futura_Bold_Italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
}
